body {
    background-color: #bbc3d1;
}

h1 {
    font-family: Futura, sans-serif;
    opacity: 0;
}

img {
    opacity: 0;
}

.name {
    opacity: 0;
    margin-top: 1em;
}

button {
    margin-top: 10px;
    opacity: 0;
}

input {
    margin-top: 20px;
    opacity: 0;
}

ul {
    list-style-type: none;
    margin-top: 1em;

    display: none;
}

li {
    background-color: #949ba6;
    padding: 10px 20px 10px 20px;
    margin-bottom: 8px;
    border-radius: 25px;
}

li a {
    color: #fff;
    font-size: 1.5em;
    font-family: Futura, sans-serif;
}

li p {
    color: #020202;
}

/*-------------------------------------
| Media Queries
-------------------------------------*/
@media only screen and (max-width: 500px) {
    input#searchTerm.form-control {
        height: 100px;
        font-size: 2em;
    }

    button.btn-primary {
        font-size: 1.5em;
    }

    li a {font-size: 1.5em;}
    li p {font-size: 1em;}
}